


.place__title {
    margin: 0;

    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width : 1024px) {
    .place__title {
        font-size: 7.031vw;
    }
}

@media (max-width : 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 80%;
    }
}

@media (max-width : 425px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;

        margin-left: 16px;
    }
}