



.page {
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Inter', sans-serif; 
    font-style: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}