



.page {
    margin: 0 auto;
    
    min-width: 300px;
    max-width: 1280px;

    font-family: 'Inter', 'Arial', sans-serif; 
    font-weight: 400;
    color: white;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}