
@import url(./__item/photo-grid__item.css);

.photo-grid {
    margin: 0 auto;
    max-width: 1184px;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-gap: 16px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-gap: 12px;
        padding: 0 16px;
        grid-template-columns: 1fr;
    }
}