
@import url(./__item/photo-grid__item.css);

.photo-grid {
    margin: 0 auto;

    padding-right: 48px;
    padding-left: 48px;

    max-width: 1184px;

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 16px;
    justify-content: center;

    margin-top: 92px;
}

@media (max-width : 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, auto);
        grid-gap: 14px;
    }
}

@media (max-width : 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, auto);
        grid-gap: 16px;
    }
}

@media (max-width : 425px) {
    .photo-grid {
        grid-template-columns: repeat(1, auto);
        grid-gap: 12px;
    }
}