


.places {
    margin: 0 auto;

    padding-right: 148px;
    padding-left: 148px;

    margin-top: 92px;
}

@media (max-width : 1024px) {
    .places{
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media (max-width : 768px) {
    .places {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media (max-width : 425px) {
    .places {
        padding: 0;
    }
}