
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    margin: 0 auto;

    max-width: 984px;

    margin-top: 56px;
}

@media (max-width : 1024px) {
    .lead {
        padding: 0;

        margin-top: 48px;
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media (max-width : 768px) {
    .lead {
        padding: 0;
    }
}