@import './__title/lead__title.css';
@import './__subtitle/lead__subtitle.css';
@import './__image/lead__image.css';
@import './__caption/lead__caption.css';

.lead {
  padding: 56px 148px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media (max-width: 320px) {
  .lead {
    padding: 42px 0 0;
  }
}
