


.cover__subtitle {
    margin: 0;
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    z-index: 3;
    grid-column: 2/3;
    grid-row: 2/3;

}