
@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);

.header {
    padding: 28px 48px 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .header {
        padding: 16px 16px 0;
    }
}