


.lead__title {
    margin: 0 auto;

    max-width: 720px;
    max-height: 200px;

    font-size: 96px;
    line-height: 100px;
    font-weight: 900px;

    text-align: center;
}

@media (max-width : 768px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: inherit;
    }
}

@media (max-width : 425px) {
    .lead__title {
        width: 288px;

        font-size: 40px;
        line-height: 44px;
    }
}
