


.lead__title {
    margin: 0;
    margin-top: 56px;
    font-size: 96px;
    line-height: 1.15;
    font-weight: 900px;
    color: white;
    text-align: center;
}

@media (max-width : 768px) {
    .lead__title {
        font-size: 12.5vw;
    }
}

@media (max-width : 425px) {
    .lead__title {
        font-size: 44px;
    }
}
