


.place__paragraph {
    margin: 0;
    width: 484px;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    grid-row: 2/3;
    grid-column: 2/3;
}

.place__paragraph:last-of-type {
    margin-top: 24px;
}