


.place__paragraph {
    margin: 0;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.place__paragraph:last-of-type {
    margin-top: 24px;
}

@media (max-width : 1024px) {

}

@media (max-width : 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width : 425px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}