


.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: none;
}

@media  (max-width: 490px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin-top: 48px;
    }
}