


.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: none;
    transition: opacity 0.35s;
}

.footer__copyright:hover {
    opacity: 0.5;
}

@media  (max-width: 750px) {
    .footer__copyright {
        margin-top: 18px;
    }
}

@media  (max-width: 490px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin-top: 48px;
        margin-left: 40px;
        margin-bottom: 24px;
    }
}

@media (max-width: 320px) {
    .footer__copyright {
    margin-left: 16px;
    margin-bottom: 24px;
}
}