


.lead__image {
    max-width: 984px;
    width: 100%;
    height: auto;

    object-fit: cover;

    margin-top: 64px;
    
}

@media (max-width : 1024px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media (max-width : 768px) {
    .lead__image {

    }
}

@media (max-width : 425px) {
    .lead__image {
        margin-top: 40px;
    }
}