


.lead__subtitle {
    margin: 0 auto;

    max-width: 640px;
    max-height: 72px;

    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    
    text-align: center;

    margin-top: 32px;
}

@media (max-width : 768px) {
    .lead__subtitle{
        font-size: 3.9vw;
        line-height: inherit;
    }
}

@media (max-width : 425px) {
    .lead__subtitle {
        font-size: 16px;
    }
}