


.lead__subtitle {
    margin: 0;
    margin-top: 32px;
    width: 640px;
    height: 72px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: white;
    text-align: center;
}