
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);

.cover {
    margin-top: 92px;
}