
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
    margin: 0 auto;

    max-width: 1184px;
    max-height: 740px;

    position: relative;

    margin-top: 92px;
}

@media (max-width : 768px) {
    .cover {
        margin-top: 88px;
        
    }
}

@media (max-width : 425px) {
    .cover {
        margin-top: 64px;
    }
}
