


.place__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: underline;
    transition: opacity 0.35s;
}

.place__link:hover {
    opacity: 0.8;
}