


.cover__overlay {
    margin: 0;

    width: 100%;
    height: 740px;

    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    
}


.cover__overlay:hover {
    opacity: 0.8;
    
}

.cover__overlay::before {
    content: '';

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: #2A2C2F;

    transition: opacity 0.35s;

    opacity: 0.3;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        max-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        width: 100%;
        max-height: 480px;
    }
}

@media (max-width: 425px) {
    .cover__overlay {
        width: 100%;
        max-height: 200px;
    }
}