


@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/menu/menu.css);



@import url(../blocks/footer/footer.css);