


@import url(../vendor/normalize.css);

@import url(../blocks/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);


/*
div, footer, main, article, section, p, h1, h2, h3, a, span, body, header, img, nav, ul, li {
  border: 1px solid #00FF7F;
}
