


.lead__caption {

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    margin-top: 8px;
}

@media (min-width : 1280px) {

}

@media (max-width : 1024px) {


}

@media (max-width : 768px) {

}

@media (max-width : 425px) {

}