
@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__paragraph/place__paragraph.css);


.place {
    margin: 0 ;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 152px 1fr;
    grid-gap: 48px 40px;
}

.place:last-of-type {
    margin-bottom: 0;
    
}