
@import url(./__nav/footer__nav.css);
@import url(./__link/footer__link.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);


.footer {
    margin: 0 auto;

    margin-bottom: 24px;
    margin-top: 92px;

    max-width: 1184px;
}

@media  (max-width: 1024px) {
    .footer {
        padding-left: 48px;
        padding-right: 48px;
    }
}


@media  (max-width: 768px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}  

@media  (max-width: 768px) {
    .footer {
        padding: 0;
    }
}  

