
@import url(./__nav/footer__nav.css);
@import url(./__link/footer__link.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);


.footer {
    margin: 0 auto;
    margin-top: 92px;
    padding: 0 48px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media  (max-width: 768px) {
    .footer {
        margin-top: 88px;
        padding: 0 24px 24px;
    }
}  

@media  (max-width: 750px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }
}  

@media  (max-width: 490px) {
    .footer {
        align-items: flex-start;
        padding: 0;
    }
}