


.place__website {
    display: flex;
    flex-direction: column ;
    justify-content: flex-end;
    margin-bottom: 8px;
}

@media (max-width : 425px) {
    .place__website {
        display: none;
    }
}